
div[data-testid=ball-triangle-svg] {
  align-content: center;
}

#user-info {
  width: 60%;
  text-align: center;
  margin: auto;
}

#pfp {
  display: inline-block;
  width: 140px;
  height: 140px;
  vertical-align: top;
  margin-top: 20px;
}

#user-info-text {
  display: inline-block;
  margin-top: 20px;
}

#name {
  height: 60px;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
}

#navbar {
  width: 100%;
}

#brand-logo {
  margin-left: 20px;
  display: inline;
}

#brand-name {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 5px;
}

#welcome-name {
  font-size: 20px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 5px;
}

.tos-link {
  margin-right: 10px;
}
