
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.panel {
    border-style: solid;
    position: absolute !important;
    border-image: linear-gradient(78deg, #000C7A, #0471D6) 1;
    height: 400px;
    width: 200px;
    top: 200px;
    padding: 10px;
    
}

.panel-left {
    left: 10px;
    padding-right: 10px;
}

.panel-right {
    right: 10px;
    padding-left: 10px;
    border-image: linear-gradient(78deg, #0471D6, #000C7A) 1;
}

.players-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.player-name.away {
    opacity: 0.6;
}

.buzzer {
    background-position: center center;
    width: 90%;
    margin: auto;
    margin-top: auto;
    margin-top: 20px;
    padding-top: 90%;
    box-shadow: 0px 0px 20px rgb(50, 50, 50);
    transition: box-shadow 0.05s;
    border-radius: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.buzzer-active {
    /*background-image: url('https://buzzin.live/buzzer.jpg');*/
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAA1BMVEUAhUJ5XHFoAAAAR0lEQVR4nO3BAQ0AAADCoPdPbQ8HFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPBgxUwAAU+n3sIAAAAASUVORK5CYII=');
}

.buzzer-inactive {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWICAiOXnXYAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
}

.buzzer-name {
    color: lightgreen;
}

.score-header {
    color: lightcoral;
}

.mod-buzz-content {
    border-color: greenyellow;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    background-color: #303030;
}

.correctness-buttons button {
    margin-right: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: red;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
}

.question-num-input {
    width: 80px;
}

.QuestionInfo {
    margin-left: auto;
    margin-right: auto;
}

.QuestionInfo .nav-link.active {
    background-color: #0d6efd;
}

.TimerMan {
    margin-top: 20px;
}

.timer-text {
    font-family: 'Orbitron';
    font-size: 80px;
    color: #008e00;
    padding-top: 0;
}

.PlayerUI .room-name {
    margin-bottom: 0;
    padding-bottom: 0;
}

.ModUI .BuzzerName {
    margin-top: 20px;
}

.BuzzComponent {
    background-color: white;
    border-radius: 30px;
}

.BuzzComponentHolder .BuzzComponent {
    height: 100%;
}

.BuzzComponent button {
    width: 90%;
    height: 90%;
}

.time-up {
    color: red;
}

.BuzzerName {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.scoreboard-row {
    height: 0.2px;
    font-size: 18spx;
    padding: 0;
}

.scoreboard-row td {
    padding: 5px;
    width: 20px;
}

th {
    width: 5px;
}

.ScoreboardInner {
    background-color: #222;
    padding: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
}

.border-scoreboard {
    border-width: 5px;
    border-color: #20c997;
    border-radius: 3px;
    border-style: solid;
}

.ScoreboardInner table {
    padding-top: 10px;
    table-layout: fixed;
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    width: 50%;
    padding-right: 0;
    padding-left: 0;
}

.table-left {
    float: left;
}

.table-right {
    float: right;
}

.showHidePanel {
    box-shadow: none !important;
}

.tu-bonus-tabs {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.TimerMan {
    background-color: #303030;
    border-radius: 5px;
    padding: 15px;
}

.QuestionInfo {
    background-color: #303030;
    padding: 15px;
    border-radius: 5px;
    z-index: 400;
}

.PacketComponent {
    float: left;
    margin-left: 10%;
    margin-top: 250px;
    width: 612px;
}

.pdf-holder {
    width: 100%;
    height: 300px;
    display: inline-block;
    background-color: #303030;
}

.pdf-holder-active {
    overflow-y: scroll;
    overflow-x: scroll;
}

.pdf-holder-inactive div {
    margin-top: 50px;
}

.pdf-holder-inactive h3 {
    margin-bottom: 20px;
}

.packet-controls-holder {
    width: 100%;
    padding-left: 10px;
    background-color: #303030;
    margin-bottom: 0;
    padding-bottom: 3px;
    text-align: left;
}

.packet-controls-holder p {
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline;
}

.packet-controls {
    display: inline;
    margin-right: 5px;
    float: right;
}

.packet-controls span {
    padding-right: 20px;
}

.packet-controls a {
    color: white;
}

.invisible {
    display: none;
}

.toggle-scoreboard {
    color: white;
    text-decoration: none;
}

.toggle-scoreboard:hover a {
    color: #00bc8c;
}

.toggle-scoreboard:hover {
    cursor: pointer;
}

.toggle-scoreboard a {
    user-select: none;
}

.startTimerBtn {
    height: 100px;
    width: 250px;
    font-size: 28px;
}

.hoverclick:hover {
    cursor: pointer;
}
